<html>
<head>
    <title>学生课程管理-Bootstrap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 引入 Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- HTML5 Shiv 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
    <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
    <!--[if lt IE 9]>
     <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
     <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<script>
    {% if messages %}
      {% for msg in messages %}
          alert('{{ msg.message }}');
      {% endfor %}
    {% endif %}
</script>

<h2 style="text-align: center">学生课程信息表</h2>
<div class="row">
<div class="table-responsive padding-sm col-md-10 col-md-offset-1">
  <table class="table table-striped table-bordered table-hover">
    <div class="btn-group btn-group-justified">
      <a href="http://127.0.0.1:8000/gradeinfo" class="btn btn-info">返回</a>
      <a href="http://127.0.0.1:8000/insertsc/?insert_num={{ sc_no }}" class="btn btn-primary">添加学生成绩</a>
    </div>
    <thead>
      <tr>
        <th>课程号</th>
        <th>课程名</th>
        <th>成绩</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
    {% for scinfo in scinfo_list %}
<tr>
<td>{{ scinfo.course_no }}</td>
<td>{{ scinfo.course_name }}</td>
<td>{{ scinfo.grade }}</td>
<td><a href="http://127.0.0.1:8000/updatesc/?update_num={{ scinfo.course_no }}&sc_no={{sc_no}}" class="btn btn-warning btn-xs">修改</a>
    <a href="javascript:if(confirm('确实要删除吗?'))location='http://127.0.0.1:8000/deletesc/?delete_num={{ scinfo.course_no }}'" class="btn btn-danger btn-xs">删除</a></td>
</tr>
{% endfor %}
    </tbody>
  </table>
</div>
</div>
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>
